{{- if .RawContent -}}
  <div class="post-content">
  {{ $withShortcodes := $.Page.RenderShortcodes }}
  <template id="unrenderedPages">
    {{- $withShortcodes | safeHTML -}}
  </template>
  </div>

  <script type="module">
    {{- with resources.Get "hb_markdown.js" | resources.Minify | resources.Fingerprint -}}
    import Markdown from '{{ .Permalink }}';
    {{- end -}}

    let createNewPage = function(pageText, index) {
      const page = Object.assign(document.createElement('div'), {
        className: 'page',
        id: `p${index}`,
        key: index,
      });
      return page;
    }
  
    let addPage = function(pageContainer, pageText, index){
      let page = createNewPage('', index+1)
      pageContainer.appendChild(page);
      pageText = `${pageText} \{\{pageNumber ${index+1} }} \{\{footnote {{ .Title }} }}`;

      // Create a ghost DOM structure
      let range = document.createRange();
      let fragment = range.createContextualFragment(Markdown.render(pageText));
      page.appendChild(fragment);
    };

    let replaceWithPages = function(placeholder, pagesContent){
      let pageContainer = document.getElementsByClassName(placeholder)[0].parentElement;
      let pages = pagesContent.split(/^\\page$/gm);
      let renderedPages = pages.map(
        (page, index) => addPage(pageContainer, page, index)
      );
      document.getElementsByClassName(placeholder)[0].remove();

      // TODO: added from LLM, double check
      // runScriptsFrom(pageContainer);
    };

      // TODO: from LLM. lets revisit
    let runScriptsFrom = function (container) {
        const scripts = container.querySelectorAll("script");
        scripts.forEach(oldScript => {
          const newScript = document.createElement("script");
            // Copy attributes
            Array.from(oldScript.attributes).forEach(attr => {
                newScript.setAttribute(attr.name, attr.value);
            });

            // Copy inline content
            if (oldScript.textContent) {
                newScript.textContent = oldScript.textContent;
            }
            // Replace old script with new script
            oldScript.parentNode.replaceChild(newScript, oldScript);
        });
    }

    if ( document.getElementsByClassName('post-content')[0] != undefined) {
      const pagesContent = document.getElementById('unrenderedPages').innerHTML;
      replaceWithPages('post-content', pagesContent);
    }
  </script>
{{- end -}}