:root {
  --HB_Color_Foreground: #1E1E1E;
}

.dark{
  --HB_Color_Foreground: #1E1E1E;
}

.pages {
    margin: 30px 0px;
}

@media screen and (min-width:1700px) {
  .pages {
    display: inline-grid;
    grid-template-columns: 50% 50%;
  }
}

.pages>.page {
    margin-right  : 30px;
    margin-bottom: 30px;
    margin-left: auto;
    box-shadow: 1px 4px 14px #000;
    color: var(--HB_Color_Foreground);
}


/* .page #example + table td {
	border:1px dashed #00000030;
}
.page {
	padding-bottom : 1.1cm;
}  */
