{{ if .Params.series }}
  {{/*  {{ with index (.GetTerms "series") 0 }}  */}}
  {{ printf "%v" .Params.title }}

  <!-- TODO: If using with index... -> this is the realm of the series, not the page, therefore .Params.series is empty.
    If I can turn the .Params.title (series name) into an array, then "intersect" works
    Otherwise I cannot unless I reverse the order to get "in" applied correctly
 -->
  {{$related := where .Site.RegularPages.ByDate ".Params.series" "intersect" .Params.series }}
  <h3>more on this series {{ len $related }}</h3>
  <ul>
    {{ range $index, $_ := $related }}
    <li>
      {{- if eq .File.UniqueID $.File.UniqueID -}}
        {{ .Page.Title }}: {{ .Params.series }} - part {{ $index }} of {{ len $related }}
      {{- else -}}
        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}: {{ .Params.series }} - part {{ $index }} of {{ len $related }}</a>
      {{- end -}}
    </li>
    {{ end }}
  </ul>
  {{/* {{ end }} */}}
  {{ end }}