{{- define "main" }}

<div class="pages">
  <div class="page pageNote">
    {{- partial "adventures/series.html" . }}
  </div>
</div>

<div class="frame-content">
  <div class="brewRenderer">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet" />
    {{- partial "adventures/css.html" . }}
    {{ with resources.Get "css/paging.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ .Permalink }}">
    {{ end }}
    
    <div class="pages">

      {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default
      site.Params.cover.hidden }}
      {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
      {{- if (.Param "ShowToc") }}
      {{- partial "toc.html" . }}
      {{- end }}

      {{- partial "adventures/adventure.html" . }}
    </div>
  </div>
</div>
{{- end }}