{{- define "main" }}

{{- partial "adventures/series.html" . }}

<div class="frame-content">
  <div class="brewRenderer">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet" />
    {{- partial "adventures/css.html" . }}
    {{ with resources.Get "css/paging.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ .Permalink }}">
    {{ end }}
    
    <div class="pages">
       {{- partial "adventures/adventure.html" . }}
    </div>
  </div>
</div>
{{- end }}