{{- if .RawContent -}}
  <div class="post-content">
    {{/*  {{- if not (.Param "disableAnchoredHeadings") -}}
    {{- partial "anchored_headings.html" .RawContent -}}
    {{- else -}}{{ .RawContent -}}{{- end -}}  */}}
  </div>

  <script type="module">
    {{ with resources.Get "hb_markdown.js" | resources.Minify | resources.Fingerprint }}
    import Markdown from '{{ .Permalink }}';
    {{ end }}

    let createNewPage = function(pageText, index) {
      const page = Object.assign(document.createElement('div'), {
        className: 'page',
        id: `p${index + 1}`,
        key: index,
      });
      const columnWrapper = Object.assign(document.createElement('div'), {
        className: 'columnWrapper',
        innerHTML: pageText,
      });
      page.appendChild(columnWrapper);
      return page;
    }

    let renderPage = function(pageText, index){
        return createNewPage(Markdown.render(pageText), index);
    };
  
    let addPage = function(pageContainer, pageText, index){
      let page = createNewPage('', index+1)
      pageContainer.appendChild(page);
      pageText = `${pageText} \{\{pageNumber ${index+1} }} \{\{footnote {{ .Title }} }}`;
      page.innerHTML = Markdown.render(pageText);
    };

    let renderPages = function(pages){
      let renderedPages = pages.map(
        (page, index) => renderPage(page, index)
      );
      return renderedPages;
    };

    let addPages = function(pageContainer, pages){
      let renderedPages = pages.map(
        (page, index) => addPage(pageContainer, page, index)
      );
    };

    let pages = {{ .RawContent }}.split(/^\\page$/gm);

    let pageContainer = document.getElementsByClassName('post-content')[0].parentElement;
    document.getElementsByClassName('post-content')[0].remove();
    addPages(pageContainer, pages);
  </script>
{{- end -}}